/* NAVBAR SUPERIORE */
.navbar-nav {
    flex-direction: row;
}

.main-navbar{
    padding-top: 0;
}

.main-navbar .navbar-nav .nav-item a {
    color: #222222;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    display: block;
    text-decoration: none;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 823px) {
    .main-navbar .navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-navbar .navbar-nav .search-item {
        flex-basis: 100%;
        text-align: center;
        margin-top: 0.3rem;
    }
}

@media (min-width: 824px) {
    .main-navbar .navbar-nav {
        flex-wrap: nowrap;
    }

    .main-navbar .navbar-nav .search-item {
        flex-basis: auto;
        margin-top: 0;
        text-align: left;
    }
}

@media (max-width: 768px) {
    .main-navbar.toggled .navbar-collapse>ul {
        display: block;
    }

    .main-navbar.toggled .navbar-nav li.search-item {
        display: none;
    }

    .main-navbar.toggled .navbar-nav .main-nav-btn {
        float: none;
        clear: both;
        display: block;
        text-align: left;
        width: 100%;
    }

    .main-navbar .container-fluid{
        padding: 0;
    }

    .main-navbar .navbar-toggler {
        padding: 0;
    }
}

.nav-btn{
    background-color: #ffffff;
}

.toggler-icon{
    color: #222222;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    display: block;
    text-decoration: none;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    background: none;
}

.navbar-toggler:not(.collapsed) .bi-list::before{
    font-family: "bootstrap-icons", serif;
    content: "\f62a";
}

.toggler-text{
    padding-left: 5px;
}


.main-nav-btn{
    display: inline-block;
    padding: 8px 15px;
    border: 2px solid transparent ;
    color: #222;
    font-size: 0.8em;
    text-decoration: none;
    line-height: 1.6;
    background-color: transparent;
    word-break: keep-all;
}

.main-nav-btn:hover{
    border: 2px solid transparent;
    color: #fff;
    background-color: #3A3A3A;
    text-decoration: none;
}

.navbar-toggler{
    background-color: transparent;
    border: 0;
    padding: 0 20px;
    line-height: 60px;
    margin: 0;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    cursor: pointer;
}

.navbar-toggler:focus, .navbar-toggler:active{
    outline: none;
    box-shadow: none;
}
/* HEADER CENTRALE */

@media (max-width: 767px){
    .header-container .site-branding .main-title {
        font-size: 30px;
    }
}

.header-container .site-branding{
    text-align: center;
    background-color: #ffffff;
}
.header-container {
    padding: 30px 40px 25px 40px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.main-title {
    color: #222222;
    text-decoration: none;
    background-color: transparent;
    font-size: 55px;
    line-height: 1.2em;
    word-wrap: break-word;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 0;
    white-space: nowrap;
}

.site-description {
    color: #757575;
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    word-wrap: break-word;
}

/* SECONDARY_NAVBAR */
@media (max-width: 768px) {
    .secondary-navbar .secondary-navbar-nav {
        display: block;
    }

    .secondary-nav-item{
        display: block;
        float: none;
        clear: both;
    }

    .second-nav-btn{
        width: 100%;
        padding-left: 18px;
        padding-right: 18px;
        line-height: 45px;
        text-align: left;
    }

    .secondary-navbar .container-fluid{
        padding: 0;
    }
}


.secondary-navbar{
    text-align: center;
    background-color: #222222;
    padding: 0;
}
.secondary-navbar-toggler:not(.collapsed) .bi-list::before{
    font-family: "bootstrap-icons", serif;
    content: "\f62a";
}

.secondary-navbar-toggler{
    color: #ffffff;
    font-size: 13px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top:10px;
    padding-bottom:10px;
}

.secondary-toggler-icon{
    color: #ffffff;
}


@media (min-width: 768px) and (max-width: 838px) {
    .secondary-navbar .secondary-navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .secondary-navbar .secondary-navbar-nav .second-row {
        flex: 1 1;
        text-align: center;
        flex-grow: 0;
    }
}

@media (min-width: 839px) and (max-width: 913px) {
    .secondary-navbar .secondary-navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .secondary-navbar .secondary-navbar-nav .second-row {
        flex-basis: auto;
        text-align: center;
        margin-top: 0;
    }

    .secondary-navbar .secondary-navbar-nav .second-row-alone {
        flex-basis: 100%;
        margin-top: 0.3rem;
        text-align: center;
    }
}

@media (min-width: 914px) {
    .secondary-navbar .secondary-navbar-nav {
        flex-wrap: nowrap;
    }


    .secondary-navbar .secondary-navbar-nav .second-row-alone {
        flex-basis: auto;
        margin-top: 0;
        text-align: left;
    }
}

.second-nav-btn{
    background-color: transparent;
    border: 2px solid transparent ;
    color: #ffffff;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 45px;
    font-family: inherit;
    font-weight: 400;
    text-transform: none;
    font-size: 13px;
    white-space: nowrap;
    text-decoration: none;
}

.second-nav-btn:hover{
    background-color: #303030;
}

/*FIRST SECTION*/
@media (max-width: 767px) {
    .row .first-section-first-column{
        padding: 0;
    }

    .first-section-first-column .last-p{
        margin-bottom: 0;
    }
}


.first-section{
    text-align: center;
}

.first-section-container{
    background-image: url("https://placehold.co/600x300/E3E3E0/E3E3E0?text=");
    background-size: cover;
}

.first-section-content{
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
}

.first-section-first-column{
    text-align: center;
    padding: 0 10px 0 10px;
    margin-bottom: 1.5em;
    word-wrap: break-word;

}

.first-section-second-column{
    text-align: center;
    padding: 0 10px 0 10px;
    margin-bottom: 1.5em;
}

h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none;
    font-family: inherit;
    font-style: inherit;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2em;
    text-transform: none;
    font-family: inherit;
    font-style: inherit;
}

.first-section-first-column p{
    text-align: center;
    margin-bottom: 1.5em;
    word-wrap: break-word;
}

.section-btn{
    display: inline-block;
    padding: 8px 15px;
    border: 2px solid #222;
    color: #222;
    font-size: 0.8em;
    text-decoration: none;
    line-height: 1.6;
    background-color: transparent;
}

.section-btn:hover{
    border: 2px solid transparent;
   color: #fff;
    background-color: #222;
    text-decoration: none;
}

.image{
    height: auto;
    max-width: 100%;
}

/*SEPARATOR*/
.separator{
    background-color: #222222;
    height: 20px;
    width: 100%;
}

.site-content{
    background-color: #f5f5f5;
}

/* SECOND SECTION */
@media (max-width: 768px) {
    h2{
        font-size: 25px;
    }
}

.second-section-first-column{
    padding: 0 5px 0 10px;
    margin-bottom: 1.5em;
    word-wrap: break-word;

}

.article-content{
    margin-bottom: 2em;
}

.article-header{
    margin: 0 0 1em;
}

.article-title {
    margin: 0;
    text-align: left;
}

.article-header p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, .5);
    font-size: 65%;
}

.article-content p{
    margin-bottom: 0;
    font-size: 65%;
    word-wrap: break-word;
    color: #3a3a3a;

}

.article-image{
    margin: 0 !important;
    vertical-align: bottom;
    height: auto;
    border: 0;
    max-width: 100%;;
}

.article-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; !important;
    align-items: center;
    margin-bottom: 1em;
}

.social-icons {
    display: flex;
    gap: 12px;
    font-size: 15px;
}

.social-icons a{
    text-decoration: none;
    color: #737373;

}
.twitter:hover {
    color: #0084b4;
}

.facebook:hover {
    color: #2d4372
}

.second-section-second-column{
    padding: 0 10px 0 10px;
}
.second-column-header{
    margin-left:auto;
    margin-right:auto;
    max-width: 655px;
}

.sidebar-article{
    margin-bottom: 2em;
}

.sidebar-article-title{
    font-size: 22px;
    text-align: left;
}

.sidebar-article p{
    margin-bottom: 1em;
}

.section-content{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
}

/* THIRD SECTION */

.article-column{
    padding: 0 10px 0 10px;
    margin-bottom: 1.5em;
}

/* FOURTH SECTION */
.fourth-section-content {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
}

.col-text{
    flex: 1 1 0;
}

.text-container p{
    margin-bottom: 0.8em;
    font-size: 17.6px;
    word-break: break-word;
}

.download{
    box-sizing: border-box;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    float: right;
    margin: .5em 0 .5em 1em;
}

.download-link{
    color: #0084b4;
    box-shadow: 0 0 0 transparent;
    text-decoration: none;
    background-color: transparent;
}

/* FIFTH SECTION */
.fifth-section-container{
    width: 100%;
    background-image: url("https://placehold.co/1920x600/1C1C1C/1C1C1C?text=");
    background-size: cover;
}

.fifth-section .section-content{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 985px;
    color: white;
}

.fifth-section p{
    text-align: center;
}

/* SIXTH-SECTION */
.sixth-section-container{
    background-color: #ffffff;
    margin-bottom: 0;
    background-size: cover;
}

.sixth-section .section-content{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
}

.sixth-section .section-content p{
    text-align: center;
    margin-bottom: 0.8em;
    word-wrap: break-word;
}

.section-img{
    clear: both;
    display: block;
    margin: 0 auto;
    mix-blend-mode: darken;
    height: auto;
    max-width: 100%;
    aspect-ratio: auto 890 / 741;
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* SEVENTH-SECTION */
@media (max-width: 768px) {
    .seventh-section .section-content{
        padding-left: 30px;
        padding-right: 30px;
    }
}

.seventh-section-container{
    background-color: #222222;
    margin-bottom: 0;
    background-size: cover;
    align-content: center;
}

.seventh-section .section-content{
    color: #ffffff;
}

.seventh-section .section-content p{
    text-align: center;
    margin-bottom: 0.8em;
    word-wrap: break-word;
}

.seventh-section .section-content p.no-margin-bottom-p{
    margin-bottom: 0;
}

/* EIGHT-SECTION */
@media (max-width: 768px) {
    .eighth-section .section-content{
        padding-left: 30px;
        padding-right: 30px;
    }
}

.eighth-section-container{
    margin-bottom: 0;
}

.eighth-section .section-content p{
    text-align: center;
    margin-bottom: 0;
    word-wrap: break-word;
}

/* FOOTER */
/* A 1025px vogliamo 4 colonne */
@media (min-width: 1025px) {
    .footer-row > .col-item {
        flex: 0 0 25%;
        max-width: 25%;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .col-item-1, .col-item-2{
        margin-bottom: 50px;
    }
    .col-item-3, .col-item-4{
        margin-bottom: 0;
    }

}

@media (max-width: 767px){
    .col-item-1, .col-item-2, .col-item-3 {
        margin-bottom: 40px;
    }

    .footer-row > .col-item-4 {
        margin-bottom: 0;
    }

    .col-item .widget{
        padding: 0;
    }

    .grid-container .footer-row{
        margin-left: 0;
        margin-right: 0;
    }
}

.grid-container{
    max-width: 985px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.footer-row{
    margin-left: -40px;
}

.footer-widgets{
    padding: 60px 40px 40px 40px;
    background-color: #d6d6d6;
    background-image: url("https://placehold.co/1280x115/D6D6D6");
    background-repeat: repeat-x;
    background-size: 100% auto;
    background-position: top;
}

.col-item{
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
}

.widget{
    padding: 0 0 0 40px;
    margin-bottom: 12px;
    font-size: 17px;
}

.widget-title{
    color: #000000;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
    text-align: left;
}

.widget p{
    margin-bottom: 13.6px;
}

.widget-ul{
    padding: 0;
}

.special-ul{
    margin-left: 1em;
    margin-top: 5px;
    word-wrap: break-word;
    margin-bottom: 0;
}

.widget li{
    list-style-type: none;
    padding-bottom: 5px;
}

.footer-link{
    text-decoration: none;
    color: #222222;
}

.footer-link:hover{
    color: #3f3f3f;
}

.search-field{
    color: #666666;
    background-color: #fafafa;
    border-color: #cccccc;
    color: #666;
    border: 1px solid #ccc;
    border-radius: 0;
    padding: 10px 15px;
    box-sizing: border-box;
    max-width: 100%;
    background: #fafafa;
    width: 100%;
}

.twitter-box {
    width: 40px;          /* dimensione del quadrato */
    height: 40px;
    background: #000;     /* sfondo nero */
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-box i {
    font-size: 22px;      /* dimensione dell’icona */
    color: #fff;          /* icona bianca */
}

.twitter-box:hover {
    opacity: 0.6;
}

footer{
    padding: 20px;
    color: #ffffff;
    background-color: #222222;
    text-align: center;
    font-size: 15px;
}

.copyright-bar{
    max-width: 985px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

.back-to-top{
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    opacity: 1;
    transform: translateY(0);
    font-size: 20px;
    border-radius: 3px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    z-index: 10;
    transition: opacity 300ms ease-in-out;
}


body{
    font-family: "Playfair Display", serif;
    font-size: 22px;
    line-height: 1.6;
    color: #3a3a3a;
    font-weight: 400;
    text-transform: none;
}

strong{
    font-weight: 700;
}
em{
    font-style: italic;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2em;
    text-transform: none;
    font-family: inherit;
    font-style: inherit;

}

@media (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
}