/* NAVBAR SUPERIORE */
.navbar-nav {
    flex-direction: row;
}

.main-navbar .navbar-nav .nav-item a {
    color: #222222;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    display: block;
    text-decoration: none;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
    white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 823px) {
    .main-navbar .navbar-nav {
        flex-wrap: wrap;              /* permette la seconda riga */
        justify-content: center;      /* centra tutto */
    }

    .main-navbar .navbar-nav .search-item {
        flex-basis: 100%;             /* OCCUPA UNA RIGA INTERA */
        text-align: center;           /* centrata */
        margin-top: 0.3rem;
    }
}

@media (min-width: 824px) {
    .main-navbar .navbar-nav {
        flex-wrap: nowrap;
    }

    .main-navbar .navbar-nav .search-item {
        flex-basis: auto;
        margin-top: 0;
        text-align: left;
    }
}

/* HEADER CENTRALE */
.header-container .site-branding{
    text-align: center;
    background-color: #ffffff;
}
.header-container {
    padding: 30px 40px 25px 40px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.main-title {
    color: #222222;
    text-decoration: none;
    background-color: transparent;
    font-size: 55px;
    line-height: 1.2em;
    word-wrap: break-word;
    font-weight: 700;
    text-transform: none;
    margin-bottom: 0;
    white-space: nowrap;
}

.site-description {
    color: #757575;
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
    font-size: 15px;
}

/* SECONDARY_NAVBAR */
.secondary-navbar{
    text-align: center;
    background-color: #222222;
    padding: 0;
}
.secondary-navbar .navbar-nav .secondary-nav-item{
    color: #ffffff;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 45px;
    font-family: inherit;
    font-weight: 400;
    text-transform: none;
    font-size: 13px;
    white-space: nowrap;
    text-decoration: none;
}

.secondary-navbar-toggler{
    color: #ffffff;
    font-size: 13px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top:10px;
    padding-bottom:10px;
}

.secondary-toggler-icon{
    color: #ffffff;
}


@media (min-width: 768px) and (max-width: 838px) {
    .secondary-navbar .secondary-navbar-nav {
        flex-wrap: wrap;              /* permette la seconda riga */
        justify-content: center;      /* centra tutto */
    }

    .secondary-navbar .secondary-navbar-nav .second-row {
        flex: 1 1;             /* OCCUPA UNA RIGA INTERA */
        text-align: center;
        flex-grow: 0;
    }
}

@media (min-width: 839px) and (max-width: 913px) {
    .secondary-navbar .secondary-navbar-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .secondary-navbar .secondary-navbar-nav .second-row {
        flex-basis: auto;             /* OCCUPA UNA RIGA INTERA */
        text-align: center;           /* centrata */
        margin-top: 0;
    }

    .secondary-navbar .secondary-navbar-nav .second-row-alone {
        flex-basis: 100%;
        margin-top: 0.3rem;
        text-align: center;
    }
}

@media (min-width: 914px) {
    .secondary-navbar .secondary-navbar-nav {
        flex-wrap: nowrap;
    }


    .secondary-navbar .secondary-navbar-nav .second-row-alone {
        flex-basis: auto;
        margin-top: 0;
        text-align: left;
    }
}

/*FIRST SECTION*/
.first-section{
    text-align: center;
}

.first-section-container{
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
}

.first-section-first-column{
    text-align: center;
    padding: 0 10px 0 10px;
    margin-bottom: 1.5em;
    word-wrap: break-word;

}

.first-section-second-column{
    text-align: center;
    padding: 0 10px 0 10px;
    margin-bottom: 1.5em;
}

h3{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none;
    font-family: inherit;
    font-style: inherit;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 1.2em;
    text-transform: none;
    font-family: inherit;
    font-style: inherit;
}

.first-section-first-column p{
    text-align: center;
    margin-bottom: 1.5em;
    word-wrap: break-word;
}

.section-btn{
    display: inline-block;
    padding: 8px 15px;
    border: 2px solid #222;
    color: #222;
    font-size: 0.8em;
    text-decoration: none;
}

/*SEPARATOR*/
.separator{
    background-color: #222222;
    height: 20px;
    width: 100%;
}

.site-content{
    background-color: #f5f5f5;
}

/* SECOND SECTION */

.second-section-first-column{
    padding: 0 5px 0 10px;
    margin-bottom: 1.5em;
    word-wrap: break-word;

}

.article-content{
    margin-bottom: 2em;
    max-width: 655px;
    margin-left: auto;
    margin-right: auto;
}

.article-header{
    margin: 0 0 1em;
}

.article-title {
    margin: 0;
    text-align: left;
}

.article-header p {
    margin-bottom: 0;
    color: rgba(0, 0, 0, .5);
    font-size: 65%;
}

.article-content p{
    margin-bottom: 0;
    font-size: 65%;
    word-wrap: break-word;
    color: #3a3a3a;

}

.article-image{
    margin: 0 !important;
    vertical-align: bottom;
    height: auto;
    border: 0;
    max-width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.article-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between; !important;
    align-items: center;
    margin-bottom: 1em;
}

.social-icons {
    display: flex;
    gap: 12px;
    font-size: 20px;
    color: #737373;
}

.social-icons a {
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.7;
}
.second-section-second-column{
    padding: 0 10px 0 10px;
}
.second-column-header{
    margin-left:auto;
    margin-right:auto;
    max-width: 655px;
}

.sidebar-article{
    margin-bottom: 2em;
}

.sidebar-article-title{
    font-size: 22px;
    text-align: left;
}

.sidebar-article p{
    margin-bottom: 1em;
}

/* THIRD SECTION */
.section-content{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 35px;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
}

.article-column{
    padding: 0 10px 0 10px;
    margin-bottom: 1.5em;
}



body{
    font-family: "Playfair Display", serif;
    font-size: 22px;
    line-height: 1.6;
    color: #3a3a3a;
    font-weight: 400;
    text-transform: none;
}

strong{
    font-weight: 700;
}
em{
    font-style: italic;
}